{% extends 'blog/base.html' %}

{% block content %}
 
			<div class="row">
				<div class="col-md-6">
				<div class="well"> 
				  <form name="pyform" method="POST" action="">
				   Search similar words for:
					<div class="input-group">               
					  <input type="text" class="form-control" name="input" placeholder="One word">
					  <span class="input-group-btn">
						<button class="btn btn-warning" type="submit">Search similar</button>
					  </span>
					</div>
				  </form>
				<hr>              
				Example: man , dog , laptop , shoes	
				
				</div>
				</div>          
				<div class="col-md-6"> 
				  <div class="well">            
					    <form method="POST" class="post-form">{% csrf_token %}
				        {{ sendform }}
				        <button type="submit" class="save btn btn-default">Save</button>
				    </form>

				  </div>                   
				</div>
			</div>

{% endblock %}